{extend name="Layout/app" /}

{block name="content"}

<div id="wrapper">
    <div class="page-product-view" data-log="商品详情">

        <div class="product-view">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">

                        {volist name="product->galleries" id="gallery"}
                        <li>
                            <a href="javascript:;"><img src="{$gallery->img}"/></a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </section>

            <div class="b2">
                <div class="b21">
                    <div class="b211">
                        <div class="name"><p>{$product->name}</p></div>
                        <div class="price"><strong>{$product->price}元</strong></div>
                    </div>
                    <div class="b212">
                        <div class="icon-fenxiang"></div>
                    </div>
                </div>
                <div class="b22">
                    <p>{$product->description}</p>
                </div>
            </div>

            <div class="ui-b7">
                <h3>为您推荐</h3>
                <div class="ui-carousel-container">
                    <div class="ui-carousel-viewport">

                        {volist name="recommends" id="recommend"}
                        <a href="/index/Index/show/id/{$recommend->id}">
                            <img src="{$recommend->photo->image}">
                        </a>
                        {/volist}
                    </div>
                </div>
            </div>
            <div class="b5">
                <div class="b51"></div>
                <div class="b52">
                    <div class="blc">
                        {$product->content|raw}
                    </div>
                </div>
            </div>
            <div class="b7">
                <div class="b70">
                    <a href="/">
                        <div class="icon-home"></div>
                    </a>
                </div>
                <div class="b72">
                    <!--<a href="javascript:;" class="off">暂时缺货</a>-->
                    <a href="javascript:;" id="buy" data-pid="{$product->id}">立即购买</a>
                </div>

                <div class="b73">
                    <a href="/index/Cart/index">
                        <div class="icon-gouwuche"></div>
                    </a>
                </div>
            </div>
            <a href="javascript:;" onclick="goTop()" id="top" style="visibility: visible;">
                <img src="http://s1.mi.com/m/images/m/top.png">
            </a>
        </div>
        <div class="share-component"></div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    $(function () {
        $("#buy").click(function () {
            var pid = $(this).data('pid');
            $.ajax({
                type: "POST",
                url: "/index/Cart/store",
                data: {product_id: pid},
                success: function () {
                    location.href = "/index/cart/index";
                }
            })
        })
    })
</script>
{/block}

